@import "../../sass/main.scss";

.heading {
    color: #FFF;
    display: block;
    font-size: 15;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 320px;
    padding: 0 20px;
    margin: 0 auto;
    background-color:#3c4252;
  
    @include tablet {
      max-width: 768px;
      padding: 0 32px;
    }
  
    @include desktop {
      max-width: 1280px;
      padding: 0 16px;
    }
  }

  .logoTrailing {
    color:#bcdee4;
  }